@import '~bootstrap/scss/bootstrap';



* {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    outline: none !important;
    padding: 50px;
}


h1 {
    color: #525252;
    font-size: 40px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
}

.Link {
    text-decoration: none;
}

$cursors: 'pointer', 'default';
.cursor {
    @each $cursor in $cursors {
        &-#{$cursor} {
            cursor: #{$cursor};
        }
    }
}

.fs {
    @for $fs from 15 through 50 {
        &-#{$fs} {
            font-size: #{$fs}px;
        }
    }
}