@import '~bootstrap/scss/bootstrap';

* {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    outline: none !important;
    padding: 5px 20px;
    background-color: #F6F6F6;
}

body{
    display: flex;
    justify-content: center;
    background-color: #f7f1ea !important;
}

.div_body{
  width: 1300px;
  background-color: inherit;
}

#root{
  background-color: inherit
}

footer, nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f7f1ea !important
}

h1 {
    color: #525252;
    font-size: 40px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
}

h2{
  background-color: inherit;
}

.logo{
    aspect-ratio: 2/0.4;
    width: 300px;
    background-color: inherit;
}
.Link, .link {
    text-decoration: none;
    background-color: inherit;
}

$cursors: 'pointer', 'default';
.cursor {
    @each $cursor in $cursors {
        &-#{$cursor} {
            cursor: #{$cursor};
        }
    }
}

.fs {
    @for $fs from 15 through 50 {
        &-#{$fs} {
            font-size: #{$fs}px;
        }
    }
}

.st0{font-family:'MonotypeCorsiva';}
.st1{font-size:42.8087px;}